
#main-header img{
    height: 100%;
    width: 100%;
}

.bg-black{
    background-color: black;
    color: #ffffff;
}

.port-item{
    width: 30%;
}
.port-item:hover{
    opacity: 0.7;
    cursor: pointer;
}

@media (min-width: 1199px) {
    .port-item{
        padding: 3em !important;
    }
}